/part1/courseinfo/node_modules
/part1/unicafe/node_modules
/part1/anecdotes/node_modules
/part1-recap
/part2/countries/node_modules
/part2/courseinfo/node_modules
/part2/phonebook/node_modules
/part3/phonebook-backend/node_modules
/part3/phonebook-backend/.env
/part4/bloglist/node_modules
/part4/bloglist/.env
/part5/bloglist-frontend/node_modules
/part6/unicafe-redux/node_modules
/part6/redux-anecdotes/node_modules
/part6/unicafe-zustand/node_modules
/part6/zustand-anecdotes/node_modules